form{
    background-color: azure;
    width: 50vw;
    height: 100vh;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
}

.showlist{
    border: 2px solid gray;
    border-radius: 5px;
    background-color: antiquewhite;
    width: 20vw;
    height: 50vh;
    overflow: hidden;
    margin-top: 10%;
    
}

.inputfield{
    margin-top:1%;
}

ol{
    background-color: dodgerblue;
    border-radius: 5px;
    margin: 1%;
    padding:1%;
}
li{
    padding: 4px;
}

input{
    width: 20vw;
    padding: 8px;
    border: 2px solid gray;
    border-radius: 5px;
}

.main{
    width: 100vw;
    height: 50vh;
    background-color: whitesmoke;
}